* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
  /* background-color: whitesmoke; */
}


img {
  width: 100%;
}



.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.note-app {
  /* max-width: 800px; */
  margin: 15px;
  padding: 16px;

}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border-bottom: 1px solid #aaa;
}

.note-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: black;
  font-family: "Sour Gummy", sans-serif;
  font-weight: normal;
  font-size: 29px;

}

.note-app__body h2 {
  font-family: "Sour Gummy", sans-serif;
  font-weight: normal;
  margin: 16px 0;
}

.footer {
  font-family: "Sour Gummy", sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 30px 0;
}

/* .note-app  h1 {
    font-weight: normal;
    font-size: 48px;
    margin-bottom: 32px;
  } */

.note-app__body {
  max-width: 1050px;
  margin: 16px auto;
  padding: 12px;
}

.note-list {
  /* display: block; */
  max-width: 1050px;
  display: grid;
  gap: 16px;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 1fr;
  margin-bottom: 48px;
}

.note-item {
  /* border: 1px solid black; */
  /* border-radius: 4px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Parent harus memiliki tinggi penuh */

}


/* .note-item__content {
  border: 3px solid rgb(185, 185, 185);
  background-color: white;
  padding: 12px;
  flex: 1;
  position: relative; 
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  text-overflow: ellipsis;
  line-height: 1.5;
} */

.note-item__content {
  border: 1px solid rgb(185, 185, 185);
  background-color: white;
  padding: 12px;
  position: relative;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  min-height: 244.5px;
  min-width: 244.5px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}


/* .note-item__content {
  border: 3px solid rgb(185, 185, 185);
  background-color: white;
  padding: 12px;
  flex: 1;
  position: relative; 
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
} */

.read-more {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}


.note-item__content::before,
.note-item__content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  /* Garis tidak mengganggu interaksi */
  background-repeat: repeat;
  /* Mengulang pola garis */
}

.note-item__content::before {
  background-image:
    /* linear-gradient(to bottom right, transparent 48%, rgba(150, 150, 150, 0.1) 50%, transparent 52%), */
    /* linear-gradient(to bottom right, transparent 48%, rgba(125, 125, 125, 0.1) 50%, transparent 52%),
    linear-gradient(to top right, transparent 48%, rgba(125, 125, 125, 0.1) 50%, transparent 52%); */
    linear-gradient(to bottom right, transparent 35%, rgba(125, 125, 125, 0.1) 50%, transparent 52%),
    linear-gradient(to top right, transparent 35%, rgba(125, 125, 125, 0.1) 50%, transparent 52%);
  /* Garis X atas kanan */
  background-size: 100px 100px;
  /* Ukuran pola */
  z-index: 0;
}

.note-item__content::after {
  background-image:
    linear-gradient(to bottom, transparent 48%, rgba(125, 125, 125, 0.1) 50%, transparent 52%),
    /* Garis vertikal */
    linear-gradient(to right, transparent 48%, rgba(125, 125, 125, 0.1) 50%, transparent 52%);
  /* Garis horizontal */
  background-size: 100px 100px;
  /* Ukuran pola */
  z-index: 0;
}


.note-item__image {
  border: 1px solid rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  height: 100%;

  /* Pastikan ukuran div sesuai gambar */
}

.note-item__image img {
  display: block;
  width: 100%;
  /* Gambar akan mengikuti lebar container */
  height: 100%;
  flex-grow: 1;
  /* Membiarkan item mengisi ruang yang tersedia secara responsif */
}

.note-item__image:hover::after {
  content: 'Click to unfold';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px;
  border-radius: 5px;
  /* bottom: 0; */
  top: 60%;
  /* bottom: 27%; */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.note-item__overlay-text {
  position: absolute;
  top: 40%;
  /* Posisikan di 50% dari tinggi induk */
  left: 50%;
  /* Posisikan di 50% dari lebar induk */
  transform: translate(-50%, -50%);
  /* Pusatkan elemen secara sempurna */

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  /* Warna teks */
  background-color: whitesmoke;
  /* Latar belakang semi-transparan */
  padding: 5px 10px;
  /* Padding agar teks tidak mepet */
  font-size: 14px;
  z-index: 1;
  /* Pastikan teks berada di atas gambar */
}


.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: nowrap; */
  margin-bottom: 4px;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #464646;
}

.note-item__body {
  font-family: "Sour Gummy", sans-serif;
  font-size: 15px;
}

.note-item__action {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  /* Mendorong elemen ke bawah */
  display: flex;
  /* Pastikan parent mendukung flexbox */
  justify-content: space-between;
  /* Atur item di dalamnya (opsional) */
}


.note-item__delete {
  padding: 8px;
  font-size: 12px;
  background-color: black;
  color: white;
  border: 0;
  /* border-radius: 4px; */
  cursor: pointer;
}

.note-item__archive {
  padding: 8px;
  font-size: 12px;
  background-color: grey;
  color: white;
  border: 0;
  /* border-radius: 4px; */
  cursor: pointer;
}


.note-item__delete,
.note-item__archive {
  display: block;
  width: 100%;
  /* background-color: transparent; */
  border: 0;
  /* border-top: 1px solid #aaa; */
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-list__empty-message {
  text-align: center;
  color: #4a4a4a;
}

input,
textarea {
  padding: 8px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  /* font-size: 16px; */
  font-size: 14px;

}

.note-input {
  max-width: 400px;
  margin: 0 auto 48px;
  border: 1px solid rgb(185, 185, 185);
  background-color: white;
  padding: 12px;
  /* margin: 14px 0; */
  /* border-radius: 8px; */
  margin-bottom: 32px;
}

.dropdown {
  /* margin-bottom: 15px; */
  position: relative;
  margin-bottom: 10px;
  /* border: 0px solid black; */
  border-radius: 4px;

}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  /* Dropdown muncul di bawah tombol */
  left: 0;
  background: white;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid #ddd; */
  z-index: 100;
  max-width: 420px;
  color: black;
  /* Maksimum lebar dropdown */
  overflow-y: auto;
}

/* .dropdown-toggle {
  cursor: pointer;
  padding: 8px 12px;
  background: #f5f5f5;
  border: 1px solid;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
} */

.dropdown-toggle {
  position: relative;
  /* Membuat posisi relatif untuk pseudo-element */
  padding-right: 20px;
  /* Menambah ruang untuk panah */
  cursor: pointer;
  /* border: 1px solid #ccc;  */
  background-color: #fff;
  /* border: 1px solid; */
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;

}

.dropdown-toggle::after {
  content: "▼";
  /* HTML entity untuk panah ke bawah */
  position: absolute;
  right: 10px;
  /* Geser panah ke kanan */
  top: 50%;
  /* Posisi di tengah vertikal */
  transform: translateY(-50%);
  font-size: 12px;
  /* Ukuran panah */
  color: #888;
  /* Warna panah */
}


/* Container untuk gambar */
.shape-options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 5 kolom per baris */
  gap: 12px;
  position: relative;
  background-color: white;
  /* Latar dropdown */
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 10;
  /* Agar dropdown tampil di atas elemen lain */
}

/* Styling gambar dan label */
.shape-options label {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
}

.shape-options input[type="radio"] {
  display: none;
  /* Sembunyikan radio button */
}

.shape-options input[type="radio"]:checked+.shape-img {
  border: 1px solid #007bff;
  transform: scale(1.1);
}

.shape-img {
  width: 60px;
  height: 60px;
  border: 2px solid transparent;
  transition: border-color 0.3s, transform 0.2s;
}





.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #000;
}

.note-input input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  font-family: 'Inter', sans-serif;
  /* font-size: 16px; */
  font-size: 14px;

}

textarea {
  display: block;
  min-height: 120px;
  width: 100%;
  padding: 8px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  /* font-size: 16px; */
  font-size: 14px;

}

.shape-options {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  place-content: center;
}

.shape-options label {
  position: relative;
  cursor: pointer;
}

.shape-options input[type="radio"] {
  display: none;
  /* Sembunyikan radio button */
}

.shape-img {
  width: 60px;
  height: 60px;
  border: 2px solid transparent;
  transition: transform 0.2s, border-color 0.3s;
}

.shape-options input[type="radio"]:checked+.shape-img {
  border-color: rgb(185, 185, 185);
  /* Warna border saat dipilih */
  transform: scale(1.1);
  /* Efek membesar sedikit */
}


input[type='radio'] {
  display: none;
  /* Sembunyikan radio button default */
}

input[type='radio']:checked+.shape-img {
  border-color: rgb(185, 185, 185);
  transform: scale(1.1);
}

.note-input button {
  width: 100%;
  padding: 8px;
  font-family: 'Inter', sans-serif;
  color: black;
  background-color: whitesmoke;
  height: 35px;
  border-color: black;
  border-radius: 4px;
  font-size: 14px;

}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .note-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 320px;
  }
}

@media only screen and (min-width: 800px) {
  .note-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .note-list {
    grid-template-columns: repeat(2, 1fr);
    /* 2 kolom untuk layar kecil seperti smartphone */
  }

  .note-item__image img {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {

  .note-app__header h1 {
    margin: 8px 0;
    font-size: 23px;
    flex: 1;
    color: black;
    font-family: "Sour Gummy", sans-serif;
  }

  .note-app__body h2 {
    font-family: "Sour Gummy", sans-serif;
    font-weight: normal;
    font-size: 22px;
    margin: 10px 0;
  }

  .note-list {
    grid-template-columns: 1fr;
    /* 1 kolom untuk layar ekstra kecil */
  }

  .note-item__image img {
    max-width: 50%;
    height: auto;
    margin-left: 25%;
  }

  .note-item__content {
    border: 2px solid rgb(185, 185, 185);
    background-color: white;
    padding: 12px;
    position: relative;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    min-height: 244.5px;
    width: 244.5px;
    margin-left: 20%;
    box-sizing: border-box;
  }

  .shape-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    position: relative;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 10;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    z-index: 100;
    max-width: 420px;
    overflow-y: auto;
  }

  .note-input input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    /* font-size: 14px; */
  
  }
  
  textarea {
    display: block;
    min-height: 120px;
    width: 100%;
    padding: 8px;
    margin: 12px 0;
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 16px;
    /* font-size: 14px; */
  
  }

  input, textarea {
  padding: 8px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
  /* font-size: 14px; */

}

}